.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
	z-index: 0;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white;
	filter:alpha(opacity=0);
	opacity:0;
}
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

.nivo-caption {
	position:absolute;
	left:0;
	bottom:0;
	color:#fff;
	width:100%;
	z-index:8;
	padding: 5px 10px;
	font-size: 13px;
	overflow: hidden;
	height: 35px;
	line-height: 30px;
	display: none;
	background: #000;
	background: -webkit-linear-gradient(transparent,rgba(0,0,0,0.1) 20%,rgba(0,0,0,0.2) 35%,rgba(0,0,0,0.5) 65%,rgba(0,0,0,0.66));
	background: -o-linear-gradient(transparent,rgba(0,0,0,0.1) 20%,rgba(0,0,0,0.2) 35%,rgba(0,0,0,0.5) 65%,rgba(0,0,0,0.66));
	background: -moz-linear-gradient(transparent,rgba(0,0,0,0.1) 20%,rgba(0,0,0,0.2) 35%,rgba(0,0,0,0.5) 65%,rgba(0,0,0,0.66));
	background: linear-gradient(transparent,rgba(0,0,0,0.1) 20%,rgba(0,0,0,0.2) 35%,rgba(0,0,0,0.5) 65%,rgba(0,0,0,0.66));
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
.nivo-directionNav a {
	display: block;
	top: 50%;
	height: 60px;
	width: 60px;
	line-height: 60px;
	cursor: pointer;
	position: absolute;
	z-index: 10;
	margin-top: -30px;
	background: rgba(0, 0, 0, 0.3);
	color: rgba(255, 255, 255, 0.7);
}
.nivo-prevNav {
	left:-23px;
}
.nivo-nextNav {
	right:-23px;
}

.nivo-prevNav:before {
	content: "\f104";
	font-family: FontAwesome;
	font-size: 35px;
	line-height: 60px;
	padding-left: 33px;
}

.nivo-nextNav:after {
	content: "\f105";
	font-family: FontAwesome;
	font-size: 35px;
	line-height: 60px;
	padding-left: 13px;
}

.nivo-directionNav a{
    opacity: 0.5;
}

.nivoSlider:hover .nivo-directionNav a{
    opacity: 1;    
}

.ls-slide-outer .ls-pager.ls-pg>li {
	cursor: pointer;
	display: inline-block;
	padding: 0 5px
}

.nivo-controlNav {
	text-align:center;
}
.nivo-controlNav a {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin: 0 4px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 12px;
	overflow: hidden;
	text-indent: -999em;
	border: 2px solid transparent;
	cursor: pointer;
	opacity:.8;
}
.nivo-controlNav a.active {
	background: rgba(255, 255, 255, 0.8);
	border: 2px solid rgba(0, 0, 0, 0.5);
	cursor: default;
}

.nivo-control {
	display:inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	text-indent:-9999px;
	border:0;
	margin: 0px 5px;
}


.ajax_load .loading-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 2px;
	z-index: 800;
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
	display: block;
	-webkit-animation: shift-rightwards 1s ease-in-out infinite;
	-moz-animation: shift-rightwards 1s ease-in-out infinite;
	-ms-animation: shift-rightwards 1s ease-in-out infinite;
	-o-animation: shift-rightwards 1s ease-in-out infinite;
	animation: shift-rightwards 1s ease-in-out infinite;
	-webkit-animation-delay: .4s;
	-moz-animation-delay: .4s;
	-o-animation-delay: .4s;
	animation-delay: .4s;
}

@-webkit-keyframes shift-rightwards {
	0% {
		-webkit-transform: translateX(-100%);
		-moz-transform: translateX(-100%);
		-o-transform: translateX(-100%);
		transform: translateX(-100%);
	}

	40% {
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);
	}

	60% {
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);
	}

	100% {
		-webkit-transform: translateX(100%);
		-moz-transform: translateX(100%);
		-o-transform: translateX(100%);
		transform: translateX(100%);
	}
}

@-moz-keyframes shift-rightwards {
	0% {
		-webkit-transform: translateX(-100%);
		-moz-transform: translateX(-100%);
		-o-transform: translateX(-100%);
		transform: translateX(-100%);
	}

	40% {
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);
	}

	60% {
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);
	}

	100% {
		-webkit-transform: translateX(100%);
		-moz-transform: translateX(100%);
		-o-transform: translateX(100%);
		transform: translateX(100%);
	}
}

@-o-keyframes shift-rightwards {
	0% {
		-webkit-transform: translateX(-100%);
		-moz-transform: translateX(-100%);
		-o-transform: translateX(-100%);
		transform: translateX(-100%);
	}

	40% {
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);
	}

	60% {
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);
	}

	100% {
		-webkit-transform: translateX(100%);
		-moz-transform: translateX(100%);
		-o-transform: translateX(100%);
		transform: translateX(100%);
	}
}

@keyframes shift-rightwards {
	0% {
		-webkit-transform: translateX(-100%);
		-moz-transform: translateX(-100%);
		-o-transform: translateX(-100%);
		transform: translateX(-100%);
	}

	40% {
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);
	}

	60% {
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);
	}

	100% {
		-webkit-transform: translateX(100%);
		-moz-transform: translateX(100%);
		-o-transform: translateX(100%);
		transform: translateX(100%);
	}
}

.cs_widget_slider,.slider_inner{
	position:relative;
}

.nivo-controlNav{
	position:absolute;
	bottom:15px;
	right:20px;
}

#donate {
	overflow: hidden;
	position: fixed;
	bottom: 30px;
	right: 0;
	zoom: 1;
	width: 190px;
	height: 280px;
	border: 1px solid #444;
	border-right: none;
	border-radius: 5px 0 0 5px;
	color: #ddd;
	-webkit-transition: right 0.3s,height 0.5s 0.3s;
	-moz-transition: right 0.3s,height 0.5s 0.3s;
	transition: right 0.3s,height 0.5s 0.3s;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled="true",startColorstr="#CC000000",endColorstr="#CC000000");
	background-color: rgba(0,0,0,0.8);
}

#donate .full {
	float: left;
	width: 190px;
	margin: 0;
	padding: 10px 15px;
	font: 12px/20px Arial;
}

#donate .full h5 {
	margin: 0;
	padding: 0;
	font: bold 14px/20px Arial;
}

#donate .full .close {
	position: absolute;
	top: 12px;
	right: 5px;
	width: 16px;
	height: 16px;
	color: #e33;
	font: bold 14px/16px Tahoma;
	cursor: pointer;
}

#donate .full .qr {
	height: 160px;
	padding:10px;
	margin-top: 5px;
	border-radius: 5px 5px 0 0;
	background-color: #f1f1f1;
	background-repeat: no-repeat;
	background-position: center;
}

#donate .full .pays {
	overflow: hidden;
	border-radius: 0 0 5px 5px;
	background: #111;
	line-height: 24px;
	text-align: center;
}

#donate .full .pays a {
	float: left;
	width: 50%;
	color: #888;
	text-decoration: none;
}

#donate .full .pays a:hover {
	color: #eee;
}

#donate .full .note {
	margin-top: 5px;
	color: #aaa;
}

#donate .alipay .pays a[rev="alipay"],#donate .wechat .pays a[rev="wechat"] {
	background: #f1f1f1;
	color: #555;
}

#donate .full .qr img{
	display:none;
}

#donate .alipay .qr .alipay_img{
	display:block;
}

#donate .wechat .qr .wechat_img{
	display:block;
}

#donate .alipay .name:before {
	content: "支付宝钱包";
}

#donate .wechat .name:before {
	content: "微信";
}

#donate .mini {
	display: none;
	float: left;
	width: 30px;
	height: 110px;
	padding: 10px 5px;
	font: 12px/18px Tahoma;
	text-align: center;
	cursor: pointer;
}

#donate.minimize {
	width: 230px;
	right: -200px;
	height: 110px;
	background-color: rgba(0,0,0,0.6);
}

#donate.minimize:hover {
	background-color: rgba(0,0,0,0.8);
}

#donate.minimize .mini {
	display: block;
}
