//content
$content_bg: #ebd9c3;
$content_top:130px;
$sidebar_w:300px;
$featured_w:190px;
$lC:26px;


#content{
    position: relative;
    top: -$content_top;
}

#content{
    .content-inner{
      border-radius: 5px;
	  padding-bottom:100px;
    }

    #sidebar{
        width: $sidebar_w;
        padding: 10px 0 10px 10px;
        position: relative;
        border-bottom-left-radius: 5px;

        #about{
          @include itme-bg;
          margin-bottom: 20px;
          padding: 10px 10px 5px;

          .social_link{

            li{
              float: left;
              width: 20%;
              text-align: center;

              a{
                font-size: 16px;
              }
              @include itme-c1;
            }
          }
        }

        #widget{

        }

    }


    #main{

        .main-inner{
            margin-top: 30px;
            padding: 10px;
        }
        .header-menu-list{
            >li{
                line-height: 50px;
            }
        }
    }
    
}


#widget-tab{
  .tabs_title{
    margin-bottom: 10px;
    padding-bottom: 5px;
    @include bdsb;

    li{
	  position:relative;
      display: inline-block;
      float: left;
      width: 33.3%;
      text-align: center;

      a{
        display: inline-block;
        width: 50px;
        height: 28px;
        line-height: 28px;
        border-radius: 3px;
      }
      i{
        font-size: 14px;
      }
    }

    .current{
      a{
        color: nth($c3,1);
      }
      &:after{
        position:absolute;
        bottom:-6px;
        left:0;
        content:'';
        width:100%;
        height:1px;
        border-bottom:1px solid nth($c3,1);
      }
    }
  }

  .tabs_item{

    li{
      padding-bottom: 5px;
      margin-bottom: 10px;
      @include bddb;

      @include itme-c1;

      a{
        line-height: 16px;

        .s_name{
          display: block;
        }

        .s_desc{
          display: block;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .avatar-box{
        width: 32px;

        img{
          width: 32px;
          height: 32px;
          border-radius:5px;
        }
      }

      .comment_box{
        padding-left: 5px;

      }
    }
  }
}

.widgets{

  aside{
    @include itme-bg;
    margin-bottom: 10px;
    padding: 10px;

    .widget-title{
      margin: 0 0 10px;
      padding-bottom: 10px;
      font-size: 18px;
      @include bdsb;
      text-align: center;

      span{
        position: relative;
        display: block;
        &:before,&:after{
          content: '';
          height: 8px;
          width: 8px;
          position: absolute;
          border-radius: 8px;
          z-index: 0;
          top: 8px;
          background-color: $itme-bg3;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;
        }
        &:before{
          left: 10px;
        }
        &:after{
          right: 10px;
        }
      }
    }

     > ul{

        li{
          padding-bottom: 5px;
          margin-bottom: 5px;
          line-height: 20px;
          @include bddb;

          &:before{

          }
        }
      }

    @include itme-c1;

  }
}

.widgets aside{

  > ul{
    li{
      &:before{
        font-family: FontAwesome;
        margin-right: 5px;
      }
    }
  }
  .new-posts,.comm_posts{
    li{
      &:before{
        font-family: FontAwesome;
        margin-right: 5px;
      }
    }
  }
}

.widget_recent_entries,.widget_pages,.new-posts,.comm_posts{
  li{
    &:before{
      content: "\f0f6";
    }
  }
}

.widget_archive{
  li{
    &:before{
      content: "\f115";
    }
  }
}

.widget_links{
  li{
    &:before{
      content: "\f0c1";
    }
  }
}

.widget_categories{
  li{
    &:before{
      content: "\f097";
    }
  }
}

.widget_nav_menu{
  li{
    &:before{
      font-family: FontAwesome;
      margin-right: 5px;
      color: #333;
      content: "\f101";
    }
  }
}

.widget_recent_comments{
  li{
    &:before{
      content: "\f0e5";
    }
  }
}

.widget_search{

  fieldset{
    .search-form-input{
      padding:7px 8px;
      font-size: 12px;
      color:#808080;
      vertical-align:middle;
      height: 26px;
	  line-height:26px;
      width: 100%;
      border-radius: 3px;
    }

    .search-button{
      display: none;
    }
  }

}

.widget_tag_cloud{

  .tagcloud{
    &:after{
      clear: both;
      display: block;
      content: " "
    }

    a{
      @include bds;
      padding: 2px 5px;
      border-radius: 3px;
      float: left;
      margin-right: 5px;
      margin-bottom: 5px;
    }
  }
}

.widget_calendar{
  #wp-calendar{
    margin: 0;
    width: 100%;
    font-size: 13px;
    font-size: 0.928571429rem;
    line-height: 1.846153846;

    #today,th{
      text-align:center;
      background:$itme-bg3;
    }

    td{
      text-align:center;

      &#prev{
        text-align:left;
        padding-left: 10px;
      }

      &#next{
        text-align: right;
        padding-right: 10px;
      }
    }

    caption{
      letter-spacing:-0.05em;
      font-size:100%;
      text-align:left;
      padding-bottom:5px;
    }
  }
}

#widget{
  position: relative;

  .lfixed{
    position: fixed;
    top: 10px;
    width: $sidebar_w - 10px;
  }
}


.main_header{
  padding: 0 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  @include bdsb;

  .avatar_box{
    width: $sidebar_w;
    padding-right: 10px;
    position: relative;
    z-index: 0;

    .me_img{
      position: absolute;
      z-index: 1;
      top: -40px;
      left: 0;
      display: inline-block;

      .me_avatar{
        display: inline-block;
        width: 80px;
        height: 80px;
        border-radius: 5px;
        padding: 5px;
        @include itme-bg2;
      }

      .me_name{
        font-size: 14px;
        margin-left: 5px;
      }

      img{
        border-radius: 4px;
        height: 100%;
      }
    }
  }

  .main-menu{
    height: 50px;
    line-height: 50px;
    display: block;
    max-width: 750px;

    .header-menu-wrapper{

      .sub-menu{

      }
    }
  }

  .actions-menu{
    padding: 16px 0 0 16px;
    width: 80px;
  }
}

.bulletin {
  position: absolute;
  z-index: 2;
  bottom:54px;
  left: 90px;
  height: 34px;
  width: 400px;
  line-height: 34px;
  overflow: hidden;
  padding: 2px;
  border-radius: 5px;
  background-color:#e5e9ef;
  background-color:rgba(0,0,0,0.12);

  .bulletin_list{
    height: 30px;
    overflow: hidden;
    padding: 0 10px;
    border-radius:4px;
    background: rgba(255,255,255,0.7);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;

    &:hover{
      background: #fff;
    }
  }

  li{
    color: #333;
    line-height: 32px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  a {
    line-height: 1;

    &:hover{

    }
  }

}

.main_body{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}


.app_slider{
  padding: 10px;

  .slider_inner{
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  }
}


article{
  margin-bottom: 50px;

  .post-wrap{
    @include itme-bg;
    position: relative;

    .post-inner{
      position: relative;

      .featured-box{
        position: absolute;
        z-index: 1;
        left: 15px;
        top:-25px;
        width: $featured_w;
        height: 170px;
        overflow: hidden;
        padding: 7px;
        border-radius: 3px;
        @include itme-bg2;

        .featured-image{
          height: 132px;
          margin-bottom: 7px;
          border-radius: 2px;
          overflow: hidden;
          background: url("images/default/featured_bg.png") no-repeat;
          background-size:cover;

          a{
            display: block;
            height: 100%;
          }

          img{
            height: auto;
          }
        }

        .post_meta{
          font-size: 12px;

          li{
            display: inline-block;
            margin-right: 10px;
			
			&:last-child{
				margin-right: 0;
			}

            i{
              font-size: 14px;
              margin-right: 3px;
            }

            &,a{
              @include itme-c2;

            }
          }
        }
      }

      .post-body{
        height: 145px;
        margin-bottom: 10px;
        overflow: hidden;

        header{
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          @include bdsb;
          padding-left: 220px;
          padding-right: 15px;
          margin-bottom: 10px;
          min-height: 36px;

          h2{
            line-height: 25px;
            font-size: 18px;
            padding: 7px 0 3px;
            overflow: hidden;
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin: 0;

            @include itme-c1;
          }
        }

        .post-content{
          padding-left: 220px;
          padding-right: 15px;
          font-size: 14px;

          .read_more{
            font-size: 12px;
          }
        }
      }
    }

    .bottom_meta{
      height: 30px;
      line-height: 30px;
      padding: 0 15px;
      font-size: 12px;
      @include bdst;

      @include itme-c2;

      *{
        margin-right: 5px;
      }

      li{
        display: inline-block;
        margin-right: 20px;

        &:last-child{
          margin-right: 0;
        }
      }

      .meta_tabs{

        a{
          &:before{
            content: '#';
          }
        }
      }
    }
  }
}

.single-post {
  article{
    margin-bottom: 20px;
  }

  article .post-wrap .post-inner .post-body header{
    padding-left: 15px;
  }
  article .post-wrap .post-inner .post-body .post-content{
    padding-left: 15px;
  }
  #content #main .main-inner{
    margin-top: 0;
  }
  article .post-wrap .post-inner .post-body{
    height: auto;
    overflow: visible;
    margin-bottom: 30px;
  }
}

.actions-menu{

  a{
    display: inline-block;
    margin-right: 10px;

    span{
      margin-bottom: 2px;
      height: 8px;
      border-radius: 2px;
      -webkit-transition: all .2s;
      -moz-transition: all .2s;
      -o-transition: all .2s;
      transition: all .2s;
    }
  }

  .layouts_width{
    width: 18px;

    span{
      display: block;
      width: 18px;
    }
  }

  .layouts_box{
    width: 20px;

    span{
      display: inline-block;
      float: left;
      width: 8px;
    }
  }
}

.actions-menu{
  a{
    span{
      background: nth($mh_c,2);
    }
    &:hover span,&.selected span{
      background: nth($mh_c,3);
    }
  }
}

.min_comments{
  padding: 0 5px;

  ul{
    @include itme-bg2;
    padding: 5px 0 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;


    li{
      padding: 2px 5px;
      @include bddb;

      &:last-child{
        border-bottom:none;
      }

      @include itme-c2;

      a{
        display: inherit;
        height: 25px;
        overflow: hidden;

        .avatar-box{
          width: 25px;
          height: 25px;

          img{
            width:24px;
            height:24px;
            border-radius: 50%;

          }

        }

        &:hover .avatar img{
          -webkit-transform: rotate(360deg);
          -moz-transform: rotate(360deg);
          -o-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          transform: rotate(360deg);
          -webkit-transition: .4s all ease-in-out;
          -moz-transition: .4s all ease-in-out;
          -o-transition: .4s all ease-in-out;
          -ms-transition: .4s all ease-in-out;
          transition: .4s all ease-in-out;
        }

        .comment_box{
          line-height: 25px;
          padding-left: 5px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}


.audio-wrapper{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 7px;

  .mejs-container{
    height: 132px !important;
    border-radius: 2px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.3);

    .mejs-controls{
      position: relative;
      background: transparent;
      height: 132px;

      .mejs-play,.mejs-pause{
        position: absolute;
        left: 50%;
        top: 50%;
        height: 50px;
        width: 50px;
        margin-left: -23px;
        margin-top: -23px;

        button{
          height: 50px;
          width: 50px;
          line-height: 50px;
          margin: 0;
          background: none;
          font-family: FontAwesome;

          &:focus{
            outline:none;
          }
        }
      }

      .mejs-play{
        button{
          &:before{
            color: rgba(255, 255, 255, 0.75);
            content: "\f144";
            font-size: 50px;
          }
        }
      }

      .mejs-pause{
        button{
          &:before{
            color: rgba(255, 255, 255, 0.6);
            content: "\f04c";
            font-size: 30px;
          }
        }
      }

      .mejs-time-rail{
        position: absolute;
        bottom: 0;
        height: 5px;
        width: 100% !important;

        .mejs-time-total{
          position: absolute;
          top: 0;
          margin: 0;
          height: 5px;
          border-radius: 0;
          width: 100% !important;
          background: rgba(0, 0, 0, 0.2);

          .mejs-time-loaded{
            height: 5px;
            border-radius: 0;
            background: #A7A7A7;
          }

          .mejs-time-current{
            height: 5px;
            border-radius: 0;
            background: #3caac8;
          }
        }
      }

      .mejs-time,.mejs-mute,.mejs-time-float{
        display: none !important;
      }
    }
  }
}

.post-copyright{
  text-align: center;
  margin-bottom: 20px;
  @include itme-c2;
}

.post-related{
  padding: 0 10px;

  h3{

  }
  .related_box{
    li{
      display: inline-block;
      float: left;
      width: 20%;
      padding: 10px;

      a{
        display: block;
        height: 100%;
      }

      .r_pic{
        height: 100px;
        border-radius: 5px;
        margin-bottom: 5px;
        background: url("images/default/featured_bg.png") no-repeat;
        background-size:cover;
        overflow: hidden;
      }

      .r_title{
        height: 35px;
        overflow: hidden;
      }

      @include itme-c2;
    }
  }
}

.comments{
  @include itme-bg;
}

#lSidebar{
  position: fixed;
  z-index: 9999;
  left: -474px;
  top: 0;
  width: 500px;
  height: 100%;
  -webkit-box-shadow:5px 0px 10px 0px rgba(0,0,0,0.1);
  box-shadow:5px 0px 10px 0px rgba(0,0,0,0.1);
  overflow: hidden;

  .sideinner{
    padding:10px 30px 10px 10px;
    width: 515px;
    height: 100%;
    overflow-y: scroll;

    .lContent{

    }
  }

  .sidectrl{
    position: absolute;
    top: 0;
    right: 0;
    width: $lC;
    height: 100%;
    cursor: pointer;
    z-index: 50;
  }
}

.sidebar-ctrl {
  position: absolute;
  width: 16px;
  height: 85px;
  right: 0;
  top: 50%;
  margin-top: -42px;
  padding: 35px 0 0 4px;
  background: $itme-bg3;
  span{
    display: inline-block;
    float: left;
    width: 1px;
    height: 15px;
    margin-right: 3px;
    background: $itme-bg2;
  }
}


.ias-noneleft{
  display: block;
  width: 100%;
  float: left;
}

.layouts-box{

  #content #main .main-inner{
    margin-top: 10px;
  }

  article{
    width: 33.33%;
    float: left;
    padding:0 5px;
    margin-bottom: 10px;
  }

  article .post-wrap .post-inner .post-body{
    height: 190px;
    overflow: hidden;
  }

  article .post-wrap .post-inner .featured-box{
    position: static;
    width: auto;
    box-shadow:none;
    height: auto;
    padding-bottom: 0;
    background: none;
  }

  article .post-wrap .post-inner .featured-box .featured-image{
    margin-bottom: 0;
  }

  .audio-wrapper{
    height: 137px;
  }

  article .post-wrap .post-inner .post-body header{
    padding-left: 15px;
  }

  article .post-wrap .post-inner .post-body .post-content{
    padding-left: 15px;
  }

  .mate-cat , .meta_tabs, .min_comments, .post_meta,.read_more{
    display: none !important;
  }
  
  .ias-trigger-next{
    margin-top: 20px;
  }

  .ias-noneleft{
    margin-top: 20px;
  }

}

.comments{

  width: 100%;
  margin-bottom: 20px;
  padding: 0 15px;

  #comments {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px 0 40px;

    #comments-title {
      position: relative;
      display: inline-block;
      font-size: 18px;
      padding: 5px 10px;
      margin: 10px 0 20px -20px;
      border-radius: 3px;
      &:before {
        display:none;
      }
    }

    .comdot{
      &:before {
        position: absolute;
        top: -6px;
        left: -6px;
        width: 10px;
        height: 10px;
        border-style: solid;
        border-width: 3px;
        border-radius: 50%;
        content: "";
        @include itme-bg2;
        box-shadow: 0 0 0 3px $itme-bg2;
      }

      &:after {
        position: absolute;
        bottom: -6px;
        left: -6px;
        width: 10px;
        height: 10px;
        border-style: solid;
        border-width: 3px;
        border-radius: 50%;
        content: "";
        @include itme-bg2;
        box-shadow: 0 0 0 3px $itme-bg2;
      }
    }

    .commentlist{
      position: relative;
      @include bdsl;
      display: block;
      padding: 15px 0;
      list-style-type: none !important;
      counter-reset: li;

      li{
        position: relative;
        float: left;
        width: 100%;
        padding: 0 0 10px 0;
        margin: 0 0 10px 0;
        list-style: none;

        .commentcount {
          position: absolute;
          right: 7px;
          height: auto;
          top: 14px;
          z-index:999;

          &:before{
            content: '#';
          }
        }

        .comment-block{
          position: relative;
          padding: 10px 0 10px 30px;
          border: 0 !important;

          .author-img {
            position: absolute;
            top: 10px;
            left: -21px;
            padding: 5px;
            width: 42px;
            height: 42px;
            @include itme-bg2;
            box-shadow: 0 0 1px rgba(0,0,0,.15) inset;
            border-radius: 46px;

            img {
              display: block;
              max-width: none ! important;
              width: 32px !important;
              height: 32px !important;
              border-radius: 32px;
              box-shadow: 0 1px 3px rgba(0, 0, 0, 0.22);
              -webkit-transition: .4s all ease-in-out;
              -moz-transition: .4s all ease-in-out;
              -o-transition: .4s all ease-in-out;
              -ms-transition: .4s all ease-in-out;
              transition: .4s all ease-in-out;
            }
          }

          &:hover .author-img img {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            transform: rotate(360deg);
          }


          .comment-body{
            border-radius: 5px;
            @include itme-bg2;

            .comment-name{
              position: relative;
              padding: 5px 10px;
              @include bdsb;

              .arrow{
                position: absolute;
                left: 10px;
                top: 25px;

                &:before{
                  position:absolute;
                  display:inline-block;
                  content:'';
                  top:-15px;
                  right: 10px;
                  left: auto;
                  border:8px solid transparent;
                  border-right-color:rgba(95, 95, 95, 0.15);
                }
                &:after{
                  position:absolute;
                  display:inline-block;
                  content:'';
                  top:-14px;
                  right: 10px;
                  left: auto;
                  border:7px solid transparent;
                  border-right-color:$itme-bg2;
                }
              }


              .fn , .fn a {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14px;
                font-weight: bold;
              }

              .author {
                margin-left: 5px;
                font-size: 12px;
              }
            }

            .comment-text{
              padding: 5px 10px;
              min-height: 60px;

              p{
                font-size: 13px;
                line-height: 1.5em;
                margin: .5em 0 !important;
                word-wrap: break-word;
                text-indent: 0;
                clear: none;
              }
              blockquote {
                background: #eee;
                color: #888;
              }
            }

            .comment-info{
              padding: 5px 10px;

              @include itme-c2;

              span{
                display: inline-block;
                line-height: 20px;
                font-size: 12px;
                margin-right: 8px;
              }

              .comment-date{
                float: right;
              }

              .comment-reply{
                float: left;
                a:before {
                  content: "\f112";
                  font-family: FontAwesome;
                  margin-right: 5px;
                }
              }
            }
          }
        }
      }
    }

    #respond{
	  padding-left:30px;
      margin-bottom: 30px;
	
      h3 {
        display: inline-block;
        font-size: 24px;
        font-weight: normal;
        margin: 10px 0;
      }

      label {
        display: none;
        position: absolute;
        top: 12px;
        left: 10px;
      }

      p {
        position: relative;
        margin-bottom: 10px;
      }

      .required {
        font-size: 10px;
      }

      input[type="text"]{
        width: 100%;
        height: 36px;
        padding: 5px 10px 5px 35px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-appearance: none;

        &:focus{
          outline: none;
        }
      }

      textarea{
        padding: 10px 10px 40px;
        width: 100%;
        height: 200px;
        line-height: 22px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-appearance: none;
        resize: none;

        &:focus{
          outline: none;
        }
      }

      .comment-form-comment {
        width: 100%;
        display: inline-block;
      }

      #wp-smiley {
        margin-bottom: 5px;
      }

      .comment-notes{
        display: none;
      }

      .form-submit{
        position: absolute;
        right: 1px;
        bottom: 6px;
        display: inline-block;
        float: right;
      }

      #submit {
        width: 100%;
        text-align: center;
        font-size: 14px;
        border-bottom-right-radius: 3px;
        cursor: pointer;
        height: 38px;
        line-height: 38px;
        display: block;
        padding: 0 20px;
        outline: 0
      }
    }
  }
}

#comment-nav-below{
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  overflow: hidden;
  display: inline-block;

  .nav-previous {
    float: left;
    width: 50%;

    a:before {
      content: "\f060";
      font-family: FontAwesome;
      margin-right: 10px;
      font-size: 14px;
      left: 0;
    }
  }

  .nav-next {
    float: right;
    width: 50%;
    text-align: right;

    a:after {
      content: "\f061";
      font-family: FontAwesome;
      margin-left: 10px;
      font-size: 14px;
      left: 0;
    }
  }
}

.children{
  margin-left:20px;
  padding-left: 5px;
  &:after{
	  clear: both;
	  content: "";
	  display: table;
  }
  li {
    padding-left: 30px;
    margin-bottom: 0 ! important;
    padding-bottom: 0 ! important;

    &:last-child{
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none ! important;
    }
  }
}

.depth-1{
  > .children{
    position: relative;
    &:before{
      content: '';
      position: absolute;
      left: -21px;
      width: 1px;
      height: 100%;
      background: nth($c1,1);
    }
  }
}

.success_tip{
	margin-left:30px;
}

.comment-form-author,.comment-form-email,.comment-form-url{
  display: inline-block;
  float: left;
  width: 33.33%;
  padding-right: 10px;
}

.comment-form-author:before,.comment-form-email:before,.comment-form-url:before{
  position: absolute;
  font-family: FontAwesome;
  padding-left: 10px;
  height: 38px;
  line-height: 38px;
}

.comment-form-author:before{
  content: "\f007";
}

.comment-form-email:before{
  content: "\f0e0";
}

.comment-form-url:before{
  content: "\f0ac";
}

.comment-form-url{
  padding-right: 0;
}

.comments-open {
  margin-bottom: 60px !important;
}

.comment #respond {
  margin-top: 0px;
  padding-bottom: 10px;
}

.commentlist #respond h3 {
  margin-top: 15px;
}

.form-allowed-tags {
  display: none !important;
}

#cancel-comment-reply-link {
  position: relative;
  margin: 0 0 0 0;
  font-size: 9px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  -webkit-transition: .1s ease-in;
  -moz-transition: .1s ease-in;
  -o-transition: .1s ease-in;
  transition: .1s ease-in;
}

#cancel-comment-reply-link:hover {
  -webkit-transition: .1s ease-in;
  -moz-transition: .1s ease-in;
  -o-transition: .1s ease-in;
  transition: .1s ease-in;
}

#cancel-comment-reply-link i {
  font-size: 18px;
}

#cancel-comment-reply-link i:hover {
  cursor: pointer;
}

.comment-notes, .comments .logged-in-as {
  width: 100% !important;
  font-size: 11px;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 5px !important;
}

.comment-notes .required {
  position: relative !important;
  top: auto !important;
  right: auto !important;
}

.comment-awaiting-moderation {
  font-weight: bold;
}

#loading-comments{
	text-align:center;
	font-size:18px;
}

body.page,body.error404{
  #content #main .main-inner{
    margin-top: 0;
  }
  article .post-wrap .post-inner .post-body header{
    padding-left: 15px;
  }
  article .post-wrap .post-inner .post-body .post-content{
    padding-left: 15px;
  }
  article .post-wrap .post-inner .post-body{
    height: auto;
    min-height: 500px;
    padding-bottom: 50px;
  }
}

.error404{

  .post-content{
    text-align: center;
    .title404{
      font-size: 120px;
      font-weight: bold;
      padding-top: 50px;
      margin-bottom: 20px;
    }
  }

}

.download-wrap{
  margin: 30px 0;
  padding: 0 15px;
  .post-download{
    background: $itme-bg2;
    @include bds;
    border-radius: 5px;
    .dl-title,.dl-box > div,.dl-view{
      height: 35px;
      line-height: 35px;
      padding-left: 10px;
      @include bdsb;
      i{
        margin-right: 5px;
      }
    }

    .dl-title{
      font-size: 14px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    .dl-view{
      color: red;
      border-bottom: none;
    }
  }
}

.posts-nav {
  text-align: center;
  margin: 0 auto 20px;
  font-size: 14px;
  padding: 10px 0;
  color: #999;

  .page-numbers{
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    min-width: 30px;
    padding: 0 5px;
    line-height: 30px;
    margin: 0 5px;
    background: #FAFAFA;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border: 1px solid #ffffff;
  }

  .page-numbers.current,.posts-nav .page-numbers:not(.dots):hover{
    background-color: #fff;
  }
}

.ed-widget{
  form{
    p{
      margin-bottom: 10px;
      position: relative;
      .fa{
        position: absolute;
        top: 0;
        left: 0;
        height: 30px;
        width: 30px;
        text-align: center;
        line-height: 30px;
      }

      .ed_tb_css{
        width: 100%;
        padding-left: 30px;
        height: 30px;
        font-size: 12px;
        vertical-align:middle;
        border-radius: 3px;
      }

      .ed_bt_css{
        display: block;
        width: 100%;
        height: 30px;
        border:none;
        border-radius: 3px;
        cursor: pointer;
      }

      .ed_validation{
        color: red;
        font-size: 12px;
      }
    }
  }
}

.timeline {
  padding: 0;
  margin: 30px;
}

.tl-item {
  display: block
}

.tl-item:after,.tl-item:before {
  display: table;
  content: " "
}

.visible-left {
  display: none
}

.tl-wrap {
  display: block;
  padding: 10px 20px;
  margin-left: 8em;
  border-style: solid;
  border-width: 0 0 0 2px
}

.tl-wrap:after,.tl-wrap:before {
  display: table;
  content: " "
}

.tl-wrap:before {
  position: relative;
  top: 15px;
  float: left;
  width: 10px;
  height: 10px;
  margin-left: -26px;
  border-color: inherit;
  border-style: solid;
  border-width: 3px;
  border-radius: 50%;
  content: "";
  @include itme-bg2;
  box-shadow: 0 0 0 4px $itme-bg2;
}

.tl-wrap:hover:before {
  border-color: nth($btn,1);
}

.tl-date {
  position: relative;
  top: 10px;
  display: block;
  float: left;
  width: 8em;
  margin-left: -11em;
  text-align: right
}

.tl-content {
  position: relative;
  display: inline-block;
  padding: 10px 15px;
  @include itme-bg2;
  @include itme-c1;

  .arrow{
    position:absolute;
    display:block;
    z-index:10;
    width: 0;
    height: 0;
    border-color:transparent;
    border-style:solid;
    border-width:9px;
    top: 19px;
    left: -9px;
    margin-top: -9px;
    border-right-color:rgba(0,0,0,.1);
    border-left-width:0;
    &:after{
      content:'';
      position:absolute;
      display:block;
      width: 0;
      height: 0;
      border-style:solid;
      border-width:8px;
      top: 1px;
      left: 1px;
      margin-top: -9px;
      border-left-width:0;
      border-color:transparent;
      border-right-color:$itme-bg2;
    }
  }
}

.tl-content.block {
  display: block;
  width: 100%
}

.tl-content.panel {
  margin-bottom: 0
}

.tl-header {
  display: block;
  width: 12em;
  margin-right: 2px;
  margin-left: 82px;
  text-align: center;
  .btn-info{
    width: 60px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    text-align: center;
  }

}

.timeline-center .tl-item {
  margin-left: 50%
}

.timeline-center .tl-item .tl-wrap {
  margin-left: -2px
}

.timeline-center .tl-header {
  width: auto;
  margin: 0
}

.timeline-center .tl-left {
  margin-right: 50%;
  margin-left: 0
}

.timeline-center .tl-left .hidden-left {
  display: none!important
}

.timeline-center .tl-left .visible-left {
  display: inherit
}

.timeline-center .tl-left .tl-wrap {
  float: right;
  padding-right: 20px;
  padding-left: 0;
  margin-right: -2px;
  border-right-width: 4px;
  border-left-width: 0
}

.timeline-center .tl-left .tl-wrap:before {
  float: right;
  margin-right: -27px;
  margin-left: 0
}

.timeline-center .tl-left .tl-date {
  float: right;
  margin-right: -8.5em;
  margin-left: 0;
  text-align: left
}

.readers-list{
  margin:20px 0 0 !important;
}
.readers-list li{
  margin-right: 28px;
  margin-bottom:20px;
  position: relative;
  list-style-type:none;
  float:left;
}

.readers-list img{
  width:45px;
  height:45px !important;
  margin-bottom:0 !important;
  border-radius:10px;
}

.readers-list .cnt{
  position: absolute;
  top: -7px;
  right: -12px;
  text-align: center;
  display: inline-block;
  line-height: 1;
  font-size: 10px;
  background-color: #E64040;
  padding: 3px;
  color: #fff;
  height: 20px;
  min-width: 20px;
  border-radius: 11px;
  border: 2px solid #ffffff;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.3);
}

.ias-trigger-prev{
	display:none !important;
}

.ias-trigger-next{
	width:100%;
	float:left;
	 a{
		display:inline-block;
		min-width:100px;
		height:35px;
		line-height:35px;
		font-size:12px;
		@include itme-bg;
        border-radius: 35px;
	 }
	 @include itme-c1;
}

.archive-title{
	margin:10px 0 20px;
	text-align:center;
	padding:0 10px;
	.title-inner{
		height:40px;
		line-height:40px;
		@include itme-bg;
	}
}

.jm-post-like.liked{
	color:#E04646 !important;
}

.single-work{
	.main-inner{
		margin-top:0 !important;
		padding:30px !important;
	}
	header,.post-content{
		padding-left:15px !important;
	}
	.post-body{
		height:auto !important;
		overflow:visible !important;
	}
}
