@charset "utf-8";
// 黑色透明度 
@mixin bg-b ($n) {
    background: rgba(0, 0, 0, $n);
}
// 白色透明度
@mixin bg-w ($n) {
    background: rgba(255, 255, 255, $n);
}
//实线边
@mixin bds () {
    border:1px solid $bds_t;
}
@mixin bdsl () {
    border-left:1px solid $bds_t;
}
@mixin bdsr () {
    border-right:1px solid $bds_t;
}
@mixin bdsb () {
    border-bottom:1px solid $bds_t;
}
@mixin bdst () {
    border-top:1px solid $bds_t;
}
//虚线边
@mixin bddl () {
    border-left:1px dashed $bdd_t;
}
@mixin bddr () {
    border-right:1px dashed $bdd_t;
}
@mixin bddb () {
    border-bottom:1px dashed $bdd_t;
}
@mixin bddt () {
    border-top:1px dashed $bdd_t;
}