@charset "utf-8";
// 黑色透明度 
@mixin bg-b ($n) {
    background: rgba(0, 0, 0, $n);
}
// 白色透明度
@mixin bg-w ($n) {
    background: rgba(255, 255, 255, $n);
}
//实线边
$bds_t:#e8e3d3;
@mixin bds () {
    border:1px solid $bds_t;
}
@mixin bdsl () {
    border-left:1px solid $bds_t;
}
@mixin bdsr () {
    border-right:1px solid $bds_t;
}
@mixin bdsb () {
    border-bottom:1px solid $bds_t;
}
@mixin bdst () {
    border-top:1px solid $bds_t;
}
//虚线边
$bdd_t:#e8e3d3;
@mixin bddl () {
    border-left:1px dashed $bdd_t;
}
@mixin bddr () {
    border-right:1px dashed $bdd_t;
}
@mixin bddb () {
    border-bottom:1px dashed $bdd_t;
}
@mixin bddt () {
    border-top:1px dashed $bdd_t;
}

//常规色
body{
    color: #867f6f;
}
a{
    color: #BB4E18;
}
a:hover,
a:focus {
    color: #333;
}

//常用背景 
@mixin itme-bg () {
    background: #f9f8f2;
    border: 1px solid #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    border-radius: 3px;
}
//字体颜色01
$c1: #867f6f #333 !default; //第一个为默认色，第二个为鼠标经过色
@mixin itme-c1 () {
    color: nth($c1,1);
    a{
        color: nth($c1,1);
        &:hover{
            color: nth($c1,2);
        }
    }
}
//字体颜色02
$c2: #a49d8c #333 !default;
@mixin itme-c2 () {
    color:nth($c2,1);
    a{
        color: nth($c2,1);
        &:hover{
            color: nth($c2,2);
        }
    }
}

//按钮
.btn,#wp-submit,.submit{
    border: 1px solid #00a1d6;
    color: #fff;
    background: #00a1d6;
    &:hover {
        color: #fff;
        background: #00b5e5;
    }
}

//输入框
input[type="text"],,input[type="password"],textarea{
    @include bg-w (0.75);
    border: 1px solid #ddd;
    color: #867f6f;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}

//主体背景+左边栏
.content-inner,#lSidebar{
    background: #EFEEEB;
}

//左边栏控制器
.sidebar-ctrl {
    background: #D4CEBF;
    span{
        background: #fff;
    }
}

//顶部菜单
.header-inner{
    background: #F9F8F3;
    color: #867f6f;
    a{
        color: #867f6f;
        &:hover{
            color: #333;
        }
    }
}

//主体菜单
.main_header{
    background: #F9F8F3;
    color: #867f6f;
    a{
        color: #867f6f;
        &:hover{
            color: #333;
        }
    }
}

//文章布局按钮
.actions-menu{
    a{
        span{
            background: #867f6f;
        }
        &:hover span,&.selected span{
            background: #333;
        }
    }
}

//特色图背景
.featured-box{
    background: #fff;
    box-shadow: 0 0 1px rgb(220, 184, 145);
}
//首页评论
.min_comments ul{
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

//内页评论
.comment-body{
    background: #FFF;
    .comment-name{
        .arrow:after{
            border:7px solid transparent;
            border-right-color:#FFF;
        }
    }
}
.comment-block .author-img{
    background: #FFF;
}

//下载盒子
.download-wrap {
    .post-download{
        background: #fff;
    }
}

//头像
.me_avatar{
    background: #fff;
    border: 5px solid #fff;
}

//页脚
#footer{
    background: #D2CFC1;
	color:#333;
	a{
		color:#333;
		&:hover{
			color:#999;
		}
	}
    .footer-end{
        border-top: 1px solid #000;
        background: #BBB7A3;
    }
}

//小工具
#wp-calendar{
    #today,th{
        background:#E2DCCB;
    }
}

#widget-tab .current{
	a{
		color:#856F62;
	}
	&:after{
		position:absolute;
		bottom:-6px;
		left:0;
		content:'';
		width:100%;
		height:1px;
		border-bottom:1px solid #856F62;
	}
}


//二级菜单
.sub-menu{
    background: #fff;
    @include bds;
    li{
        a{
            color: #867F6F;
            @include bdsb;
            &:hover{
                color: #fff;
                background: #867F6F;
            }
        }
    }
    &:after{
        border:7px solid transparent;
        border-bottom-color:#fff;
    }
}


//归档页面
.tl-content{
    @include bds;
    background: #fff;
}

.tl-wrap:before{
    background: #edf1f2;
    box-shadow: 0 0 0 4px #fff
}

.tl-wrap:hover:before {
    border-color: #00a1d6
}

.tl-content .arrow:after{
    border-color:transparent;
    border-right-color:#fff;
}

//捐赠按钮
#donate .qr,#donate .alipay .pays a[rev="alipay"],#donate .wechat .pays a[rev="wechat"]{
    background: #D4CEBF;
}

#donate .pays a {
    background: #EFEEEB;
}