@charset "utf-8";
//plugins

//modal
.cd-user-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(52, 54, 66, 0.9);
	z-index: 9999;
	overflow-y: auto;
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.3s 0, visibility 0 0.3s;
	-moz-transition: opacity 0.3s 0, visibility 0 0.3s;
	transition: opacity 0.3s 0, visibility 0 0.3s;
}

.cd-user-modal.is-visible {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.3s 0, visibility 0 0;
	-moz-transition: opacity 0.3s 0, visibility 0 0;
	transition: opacity 0.3s 0, visibility 0 0;
}

.cd-user-modal.is-visible .cd-user-modal-container {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}

.cd-user-modal-container {
	position: relative;
	width: 90%;
	max-width: 420px;
	margin: 10em auto 4em;
	cursor: auto;
	border-radius: 0.25em;
	-webkit-transform: translateY(-30px);
	-moz-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	-o-transform: translateY(-30px);
	transform: translateY(-30px);
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	transition-duration: 0.3s;
    @include itme-bg;
    border: none;
}

.user-modal-title {
	text-align: left;
	font-size: 20px;
	display: inline-block;
	margin-top: 30px;
	margin-left: 40px;
}

.cd-close-form {
	position: absolute;
	right: 25px;
	top: 20px;
  	width: 50px;
	height: 50px;
  	border-radius: 50%;
	text-align: center;
	line-height: 50px;
	background: rgba(0, 0, 0, 0.5);
	display: inline-block;

  	&:hover{
	  color: #BDBDBD;
	}
}

.cd-close-form:before {
	content: "\f00d";
	font-family: FontAwesome;
	font-size: 20px;
}

.modal-head{
	.cd-close-form {
	    background: none;
		width: 15px;
		height: 15px;
		line-height: 15px;
		top: 10px;
		right: 12px;
		&:before{
			font-size: 16px;
		}
	}
  @include itme-c1;
}

#login-form {
	padding: 15px;
}

#login-form p {
	position: relative;
	margin-bottom: 20px;
}

.icon-login {
	text-align: center;
	display: inline-block;
	border-radius: 50%;
	width: 30px;
	height: 30px;
}

.login_bg {
	display: none;
	position: absolute;
	z-index: 100;
	top: 43px;
	right: 0;
}

#login-form label {
	display: none;
}

#user_login , #user_pass {
	width: 100%;
	padding: 2px 0 0px 30px;
	height: 36px;
	line-height: 36px;
	border-radius: 5px;
	outline: none;
}

input#wp-submit {
	width: 100%;
	text-align: center;
	font-size: 15px;
	border-radius: 4px;
	cursor: pointer;
	line-height: 36px;
	display: block;
	padding: 0 15px;
	outline: 0
}

.login-username:before {
	content: "\f007";
	position: absolute;
	top: 8px;
	left: 6px;
	font-family: FontAwesome;
	font-size: 15px;
	margin-left: 4px;
}

.login-password:before {
	content: "\f023";
	position: absolute;
	top: 8px;
	left: 6px;
	font-family: FontAwesome;
	font-size: 15px;
	margin-left: 4px;
}

#login-form {
	padding: 25px 40px 30px;
}

.login-links {
	font-size: 12px;
	padding: 8px 15px;
    margin: 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
    @include bdst;
}

.login-submit {
	margin: 0 !important;
}

.user-modal-header {
	background: #EDF1F2;
	border-bottom: 1px solid #C1CED2;
}

.login-img{
  position: relative;
  height:150px;
  overflow: hidden;
  background-position: center;
  background-size:cover;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  background-image: url("images/1.png");

  .login-modal{
	position: absolute;
	height: 100%;
	width: 100%;
	color: #fff;
	text-align: center;
	background: rgba(0, 0, 0, 0.3);
  }
}

.cd-user-modal-container{

  .modal-head{
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    @include bdsb;
    i{
      margin-right: 5px;
    }
  }
  .modal-main{
    text-align: center;
    min-height: 200px;
    padding: 50px 10px 10px;


    .dl-btn{
      a{
        font-size: 16px;
        display: inline-block;
        padding: 10px 20px;
        border-radius: 0.25em;
        margin-bottom: 20px;
        i{
          margin-right: 10px;
        }
      }
    }
  }
  .modal-bottom{
    font-size: 12px;
    padding: 10px;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    @include bdst;
  }
}

//movetip
#mouse-tooltip {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  pointer-events: none;
}

.mouse-tooltip {
  max-width: 300px;
  font-size: small;
  padding: 8px 12px;
  color: #fff;
  line-height: 1.5;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}

.mouse-tooltip--hidden {
  display: none !important;
}

.with-tooltip:before , .with-tooltip:after {
  display: none;
}


.content #article-index{
  display:none;
}

.index-box{
  display:none;
  position:fixed;
  top:30px;
  left:50%;
  margin-left:560px;
  @include itme-bg;

  #article-index {
    padding: 0 5px;
    width: 150px;
    .title {
	  @include bdsb;
      display: block;
      line-height: 25px;
      padding: 4px;
	  margin-bottom:5px;
	  font-size:16px;
    }
  }

  #index-ul {
    margin: 0;
    padding-bottom: 10px;

    li {
		@include bddb;
	    padding: 4px;		
		&:last-child{
			border-bottom:none
		}
	  }
	}
}

.grids{
  margin: 0 auto;
  .grid-item{
    position: relative;
    width: 220px;
    float: left;
    padding: 0;
    margin: 0 8px 30px;
    @include itme-bg;

    .work-wrap{
      padding: 10px 10px 5px;
      .featured-image{
        width: 200px;
        height: 150px;
        overflow: hidden;
        display: block;
        img{
          width: 100%;
          height: auto;
        }
      }
      &:hover .work-content{
        display: block;
        color: #fff;
      }
    }

    .work-content{
      position: absolute;
      padding: 10px;
      font-size: 14px;
      display: none;
      top: 10px;
      left: 10px;
      width: 200px;
      height: 150px;
      @include bg-b (0.75);
    }

    .work-mate{
      padding: 0 10px 5px;
      li{
        margin-right: 10px;
        &:last-child{
          margin-right: 0;
        }
		.fa{
		  margin-right:5px;
		}
      }
    }
  }
}

.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
	z-index: 0;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white;
	filter:alpha(opacity=0);
	opacity:0;
}
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

.nivo-caption {
	position:absolute;
	left:0;
	bottom:0;
	color:#fff;
	width:100%;
	z-index:8;
	padding: 5px 10px;
	font-size: 13px;
	overflow: hidden;
	height: 35px;
	line-height: 30px;
	display: none;
	background: #000;
	background: -webkit-linear-gradient(transparent,rgba(0,0,0,0.1) 20%,rgba(0,0,0,0.2) 35%,rgba(0,0,0,0.5) 65%,rgba(0,0,0,0.66));
	background: -o-linear-gradient(transparent,rgba(0,0,0,0.1) 20%,rgba(0,0,0,0.2) 35%,rgba(0,0,0,0.5) 65%,rgba(0,0,0,0.66));
	background: -moz-linear-gradient(transparent,rgba(0,0,0,0.1) 20%,rgba(0,0,0,0.2) 35%,rgba(0,0,0,0.5) 65%,rgba(0,0,0,0.66));
	background: linear-gradient(transparent,rgba(0,0,0,0.1) 20%,rgba(0,0,0,0.2) 35%,rgba(0,0,0,0.5) 65%,rgba(0,0,0,0.66));
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
.nivo-directionNav a {
	display: block;
	top: 50%;
	height: 60px;
	width: 60px;
	line-height: 60px;
	cursor: pointer;
	position: absolute;
	z-index: 10;
	margin-top: -30px;
	background: rgba(0, 0, 0, 0.3);
	color: rgba(255, 255, 255, 0.7);
}
.nivo-prevNav {
	left:-23px;
}
.nivo-nextNav {
	right:-23px;
}

.nivo-prevNav:before {
	content: "\f104";
	font-family: FontAwesome;
	font-size: 35px;
	line-height: 60px;
	padding-left: 33px;
}

.nivo-nextNav:after {
	content: "\f105";
	font-family: FontAwesome;
	font-size: 35px;
	line-height: 60px;
	padding-left: 13px;
}

.nivo-directionNav a{
    opacity: 0.5;
}

.nivoSlider:hover .nivo-directionNav a{
    opacity: 1;    
}

.ls-slide-outer .ls-pager.ls-pg>li {
	cursor: pointer;
	display: inline-block;
	padding: 0 5px
}

.nivo-controlNav {
	text-align:center;
}
.nivo-controlNav a {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin: 0 4px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 12px;
	overflow: hidden;
	text-indent: -999em;
	border: 2px solid transparent;
	cursor: pointer;
	opacity:.8;
}
.nivo-controlNav a.active {
	background: rgba(255, 255, 255, 0.8);
	border: 2px solid rgba(0, 0, 0, 0.5);
	cursor: default;
}

.nivo-control {
	display:inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	text-indent:-9999px;
	border:0;
	margin: 0px 5px;
}


.ajax_load .loading-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 2px;
	z-index: 800;
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
	display: block;
	-webkit-animation: shift-rightwards 1s ease-in-out infinite;
	-moz-animation: shift-rightwards 1s ease-in-out infinite;
	-ms-animation: shift-rightwards 1s ease-in-out infinite;
	-o-animation: shift-rightwards 1s ease-in-out infinite;
	animation: shift-rightwards 1s ease-in-out infinite;
	-webkit-animation-delay: .4s;
	-moz-animation-delay: .4s;
	-o-animation-delay: .4s;
	animation-delay: .4s;
}

@-webkit-keyframes shift-rightwards {
	0% {
		-webkit-transform: translateX(-100%);
		-moz-transform: translateX(-100%);
		-o-transform: translateX(-100%);
		transform: translateX(-100%);
	}

	40% {
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);
	}

	60% {
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);
	}

	100% {
		-webkit-transform: translateX(100%);
		-moz-transform: translateX(100%);
		-o-transform: translateX(100%);
		transform: translateX(100%);
	}
}

@-moz-keyframes shift-rightwards {
	0% {
		-webkit-transform: translateX(-100%);
		-moz-transform: translateX(-100%);
		-o-transform: translateX(-100%);
		transform: translateX(-100%);
	}

	40% {
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);
	}

	60% {
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);
	}

	100% {
		-webkit-transform: translateX(100%);
		-moz-transform: translateX(100%);
		-o-transform: translateX(100%);
		transform: translateX(100%);
	}
}

@-o-keyframes shift-rightwards {
	0% {
		-webkit-transform: translateX(-100%);
		-moz-transform: translateX(-100%);
		-o-transform: translateX(-100%);
		transform: translateX(-100%);
	}

	40% {
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);
	}

	60% {
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);
	}

	100% {
		-webkit-transform: translateX(100%);
		-moz-transform: translateX(100%);
		-o-transform: translateX(100%);
		transform: translateX(100%);
	}
}

@keyframes shift-rightwards {
	0% {
		-webkit-transform: translateX(-100%);
		-moz-transform: translateX(-100%);
		-o-transform: translateX(-100%);
		transform: translateX(-100%);
	}

	40% {
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);
	}

	60% {
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);
	}

	100% {
		-webkit-transform: translateX(100%);
		-moz-transform: translateX(100%);
		-o-transform: translateX(100%);
		transform: translateX(100%);
	}
}

.cs_widget_slider,.slider_inner{
	position:relative;
}

.nivo-controlNav{
	position:absolute;
	bottom:15px;
	right:20px;
}

.donate-box{
  padding-bottom: 10px;
  cursor: pointer;
}

.donate_title{
  font-size: 14px;
}

#donate {
	overflow: hidden;
	bottom: 50px;
	right: -4px;
	zoom: 1;
	width: 180px;
	height: 260px;
  	padding: 10px;
	border-right: none;
    @include itme-bg;
}

#donate h5 {
	margin: 0 0 10px 0;
	padding: 0;
  	font-size: 16px;
}

#donate .qr {
	height: 160px;
	padding:5px;
	border-radius: 3px 3px 0 0;
	background-repeat: no-repeat;
	background-position: center;
}

#donate .pays {
	overflow: hidden;
	border-radius: 0 0 5px 5px;
	margin-bottom: 10px;
	line-height: 24px;
	text-align: center;
}

#donate .pays a {
	float: left;
	width: 50%;
	text-decoration: none;
}

#donate .note {
	margin-top: 5px;
}

#donate .qr img{
	display:none;
}

#donate .alipay .qr .alipay_img{
	display:block;
}

#donate .wechat .qr .wechat_img{
	display:block;
}

#donate .alipay .name:before {
	content: "支付宝钱包";
}

#donate .wechat .name:before {
	content: "微信";
}

#pixie {
	z-index: -10;
	position: fixed;
	top:0;
	left:0;
}

/* prettify */
.prettyprint {
	padding: 22px;
	background-size: 100% 1.6em
}

.prettyprint.linenums {
	padding: 22px 8px;
	background-size: 100% 1.7em;
}

ol.linenums {
	margin: 0 0 0 38px;
	padding-left: 0
}

ol.linenums li {
	margin-left:0 !important;
	margin-bottom: 0;
	padding-left: 16px;
	line-height: 23px;
	list-style-type: decimal;
}

pre , code {
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

/* prettify */
pre {
	background-color: #fff;
}

.com {
	color: #93a1a1
}

.lit {
	color: #195f91
}

.pun,.opn,.clo {
	color: #93a1a1
}

.fun {
	color: #dc322f
}

.str,.atv {
	color: #D14
}

.kwd, .prettyprint.tag {
	color: #1e347b
}

.typ,.atn,.dec,.var {
	color: teal
}

.pln {
	color: #48484c
}

.prettyprint {
	border: 1px solid #ddd;
	box-shadow: inset 0 1px 0 #fff, 1px 1px 0 #fff, 2px 2px 0 #ddd, 3px 3px 0 #fff, 4px 4px 0 #ddd;
	background-color: #fff;
	background-image: -webkit-linear-gradient(#EEE .1em, transparent .1em);
	background-image: -o-linear-gradient(#EEE .1em, transparent .1em);
	background-image: linear-gradient(#EEE .1em, transparent .1em);
}

.prettyprint.linenums {
	box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0, inset 0 1px 0 #fff, 1px 1px 0 #fff, 2px 2px 0 #ddd, 3px 3px 0 #fff, 4px 4px 0 #ddd
}

ol.linenums li {
	color: #bebec5;
	text-shadow: 0 1px 0 #fff
}
