body {
	color: #6A4A3C;
	background: #d8d1cb url(images/skin3_bg.jpg) fixed repeat;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track-piece {
	background-color: #E5DFCA;
	-webkit-border-radius: 0px;
}

::-webkit-scrollbar-thumb:vertical {
	height: 5px;
	background-color: #6A4A3C;
	-webkit-border-radius: 0px;
}

::-webkit-scrollbar-thumb:horizontal {
	width: 5px;
	background-color: #CCCCCC;
	-webkit-border-radius: 0px;
}

::-moz-selection {
	background-color: #80705A;
	color: #fff;
	text-shadow: none;
}

::selection {
	background-color: #80705A;
	color: #fff;
	text-shadow: none;
}

a{
    color: #6A4A3C;
}

a:hover,a:focus{
    color: #000;
}

.theme-bg,article,.ias-trigger a,.posts-nav .page-numbers , #comment-nav-below .page-numbers {
	border-radius: 5px;    
	background: #F7F6F1;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	border: 1px solid rgba(255, 255, 255, 0.9);
}

.entry-title:before,.bottom_meta:before,.social_link:before{
	border-top: dashed 1px #C2B99A;
	border-bottom: dashed 1px #FFFFFF;
}

.rightbar .widget-title:before,.social_link:after,.qr-wrapper:after,.rightbar aside:after {
	border-top: solid 1px #C2B99A;
	border-bottom: solid 1px #FFFFFF;
}

.navbar-collapse{
	background: #82715b url(images/skin3_header_bg.png) repeat-x;
}

.navbar-nav>li>a{
	text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 0px;
	color:#FFF7EE;
}

.navbar-nav>li>a:hover{
	color:#FFF;
}

.navbar-nav>li>a>i{
	text-shadow: rgba(255, 255, 255, 0.3) 0px 1px 0px;
	color:#452F26;
}

.navbar-nav li:hover, .navbar-nav li:focus{

}

#searchform input{
	background: #E0D9BA;
	border: 1px solid #6A4A3C;
	color: #6A4A3C;
}

.dropdown-menu{
	background: #e9e5d7 url(images/skin3_drawer_bg.png);  
}

.dropdown-menu:before{
	background: url(images/skin3_drawer_before.png) repeat-x;
}

.dropdown-menu , .dropdown-menu a {
	color: #866457;
	text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
}

.tagcloud a{
	border: 1px solid #A19976;
}

.navbar-right .dropdown-menu{  
    background: #D8D3C0;
    border: 1px solid #CEC9C7;
}

.header-menu .header-menu-list li a,.header-menu .dropdown-menu a{
    color: #b4b6bd;
	text-shadow: none;
}

.header-menu .header-menu-list>li>a:focus, .header-menu .header-menu-list>li>a:hover{
    background:#32374a;
    color: white;
}

.header-menu .dropdown-menu{
    background:#2e3344;
}

.header-menu .dropdown-menu a:hover{
    background: #3a3f51;
}

.panel-heading {
    border-bottom: 1px solid #CEC9C7;    
    background: #D8D3BF;
}

.navbar-right .sub-menu li a:hover{
    background: #E8E5D9;
}

#user_login , #user_pass {
	border: solid 1px #6A4A3C;
	background: #E7E4D8;
}

input#wp-submit {
	border: 1px solid #126066;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,.2);
	background: #877871;
	background: -webkit-gradient(linear,left top,left bottom,from(#07BBCD),to(#1B8992));
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3),0 1px 1px rgba(50,50,50,.05);
}

.login-links {
	background: #E7E5D8;
	border-top: 1px solid #CEC9C7;
}

.app-aside .aside-wrap,.navbar-header{
    background: #3a3f51;
}

.menu-item-has-children .arrow{
    color: #b4b6bd;
}

#bulletin_close {
	color: #666;
}

#bulletin span {
	color: #666;
}

.bulletin_box{
	background-color: rgba(247, 246, 241, 0.5);
	background-color: #E3DEC0 \9;
	border-bottom: 1px dashed #C1C0AB;
}

.bulletin_remove {
	color: #B0A38E;
}

.post-nav a:hover {
	color: #FFF;
	background: #806F5A;
}

.nivo-directionNav a {
	background-color:#F7F6F1;
	box-shadow:0 1px 5px rgba(0, 0, 0, 0.2);
}

.nivo-control {
	background: #D4CFBC;
}

.nivo-control.active,.nivo-control:hover {
	background-color: #6A4A3C;
}

a.jm-post-like , a.jm-post-hate {
	color: #6A4A3C;
}

a.jm-post-like.liked ,a.jm-post-hate.hated {
	color: #CC333F;
}

a.jm-post-like:hover,a.jm-post-like:active,a.jm-post-like:focus,a.liked:hover,a.liked:active,a.liked:focus,a.jm-post-hate:hover,a.jm-post-hate:active,a.jm-post-hate:focus,a.hated:hover,a.hated:active,a.hated:focus {
	color: #3C2116;
}

.top_meta , .top_meta a ,.baidu_submit , .baidu_submit a{
	color: #A39889;
}

.top_meta a:hover , .baidu_submit a:hover{
	color: #666;
}

.read_more a , .post .more-link{
	color: #887B66;
}

.posts-nav .page-numbers.current,.posts-nav .page-numbers:not(.dots):hover , #comment-nav-below .page-numbers.current,#comment-nav-below .page-numbers:not(.dots):hover {
    background-color: #fff;
}

.app-footer{
	background: #d8d0b5 url(images/skin3_copyright_bg.png) repeat-x;
}

.app-footer , .app-footer a{
	text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
	color: #7D6B56;
}

.rightbar ul li{    
	border-bottom: 1px dashed #E2DBC4;    
}

.tabs li {
    border-bottom: 2px solid #E6E4D7 !important;
}

.tabs a {  
  color: #948773;
}

.current a {
  color: #452F26;
  background: #E6E4D7;
}

.cs_widget_qr .qr-img{
	background: #FFFFFF;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
}

.qr-wrapper:before {
	border-top: dashed 1px #C2B99A;
	border-bottom: dashed 1px #FFFFFF;
}
.search-form-input {
	color: #6A4A3C;
	border: solid 1px #806E5B;
	background: #FFFFFF;
}

.me_content {
    color: #80705B;
    text-shadow: rgba(255, 255, 255, 0.85) 0px 1px 0px;
}

.rightbar .widget-title span{
    border: 1px dashed #C2B99A;
}

.logo-subtitle {
    color: #ABABAB;
}

.logo a{
    color: #F7F6F1;
}

.logo a:hover{
	color: #FFFFFF;
	text-shadow: 0 0 6px rgba(255,144,0,0.5);
}

.navbar-header .logo a{
    color: 
}

.post-download {
	border: 1px solid #D9D4C1;
}

.dl-title {    
	background: #ECE6D9;
	border-bottom: 1px solid #D9D4C1;		        
}

.dl-box div{
	border-bottom: 1px solid #D9D4C1;	        
}

.post-copyright , .read_more {
	background: #F0EDDE;
	border: 1px solid #D9D4C1;
}

.post .more-link:hover {
	color: #555;
}

.post-copyright:hover , .read_more:hover {
	background: #F2EDDE;
	border: 1px solid #84725D;	
}

.related_box {
	border-right: 1px #D6D1BE solid;
}

.related_box:hover {
	background: #D4CFBC;
}

.related_box .r_pic img {
	background: #E5E2D5;
}


.comment-body{
	background: #F0F0E3;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255,255,255,.75) inset;	
}

.author-img{
	background: #E5E6D0;	
}

.fn , .fn a  {
	color: #848568 !important;	
}

.fn a:hover {
	color: #D32 !important;
}

.comment-text p{
	color:#787968;
}

.comment-info span a{
	color:#999;
}

.comment-info span a:hover{
	color: #D32 !important;
}

#comments-title {
	color:#6A4A3C;
}

#comments-title:before{
	border-top: dashed 1px #C2B99A;
	border-bottom: dashed 1px #FFFFFF;
}

.comments-open {
	border-bottom: solid 1px #e7e7e7;
}

#respond .required {
	color: #E75353;
}

#respond input[type="text"], #respond textarea {
	color: #6A4A3C;
	border: solid 1px #CBC4A8;
	background: #EFECDE;
}

#commentform #submit {
	border: 1px solid #126066;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,.2);
	background: #877871;
	background: -webkit-gradient(linear,left top,left bottom,from(#07BBCD),to(#1B8992));
	box-shadow: inset 0 1px 0 rgba(255,255,255,.3),0 1px 1px rgba(50,50,50,.05);
}

.commentlist>li {
	border-bottom: 1px dashed #A3937F;
}

.children li {
	border-top: 1px dashed #DCD7C3;
}

.commentcount, span.author {
	color: #ADA28E;
}

.comment-block {
}

.comment-text blockquote {
	background: #eee;
	color: #888;
}

.reply a {
	color:#989073;
}

.reply a:hover {
	color: #6C6C6C;
}

#cancel-comment-reply-link {
	color: #999;
}

#cancel-comment-reply-link:hover {
	color: #555;
}

#cancel-comment-reply-link i {
	color: #999;
}

#cancel-comment-reply-link i:hover {
	color: #555;
}

.comments .logged-in-as a {
	color: #777;
}

.comments .logged-in-as a:hover {
	color: #555;
}

.comment-notes, .comments .logged-in-as {
	color: #bbb;
}

.comment-awaiting-moderation {
	color: #555;
}

.vcard img {
	background: #DAD5C2;
}

.comment-time {
	color: #bbb;
}

.comment-time:hover {
	color: #999;
}

#comment-nav-below {

}

input[type="range"] {
	background: url(images/skin2_lock_bg.png);
}
input[type="range"]::-webkit-slider-thumb {
	background: url(images/skin2_slider_bg.png);
}


.unlock .fa-lock{
    background-color: #4DBCFF;
}

.unlock .fa-check{
    background-color: #6BD863;
}

.foot_btn li>a {
	background: rgba(127, 109, 88, 0.5);
	color: #FFFFFF;
}

.foot_btn li>a:hover {
	background: rgba(127, 109, 88, 0.7);
}

a.sidebar_btn.btn-selected{
	background:rgba(0, 0, 0, 0.8);
}

#fi-wx-show , .baidu_share .bdsharebuttonbox{
	background: #FFFFFF;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
}

.index-box{
    background: rgba(247, 246, 241, 0.5);
    border-right: 1px solid #C1C0AB;
}

.index-header {
    border-bottom: 1px solid #C1C0AB;
}

.index-content>ul>li{  
    border-bottom: 1px dashed #CAC3AF;
}

.index-content ul li a:hover{
    background: #D5D0BD;
}

/* prettify */
pre {
	background-color: #fff;
}

.com {
	color: #93a1a1
}

.lit {
	color: #195f91
}

.pun,.opn,.clo {
	color: #93a1a1
}

.fun {
	color: #dc322f
}

.str,.atv {
	color: #D14
}

.kwd, .prettyprint.tag {
	color: #1e347b
}

.typ,.atn,.dec,.var {
	color: teal
}

.pln {
	color: #48484c
}

.prettyprint {
	border: 1px solid #ddd;
	box-shadow: inset 0 1px 0 #fff, 1px 1px 0 #fff, 2px 2px 0 #ddd, 3px 3px 0 #fff, 4px 4px 0 #ddd;
	background-color: #fff;
	background-image: -webkit-linear-gradient(#EEE .1em, transparent .1em);
	background-image: -o-linear-gradient(#EEE .1em, transparent .1em);
	background-image: linear-gradient(#EEE .1em, transparent .1em);
}

.prettyprint.linenums {
	box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0, inset 0 1px 0 #fff, 1px 1px 0 #fff, 2px 2px 0 #ddd, 3px 3px 0 #fff, 4px 4px 0 #ddd
}

ol.linenums li {
	color: #bebec5;
	text-shadow: 0 1px 0 #fff
}

.audio-wrapper .mejs-play button:before , .audio-wrapper .mejs-pause button:before , .audio-wrapper .mejs-mute button:before , .audio-wrapper .mejs-unmute button:before {
	color: #7B6B57;
}

.audio-wrapper span {
	color: #7B6B57;
}

.audio-wrapper .mejs-container .mejs-controls {
	background: #D6D1BE;
}

.audio-wrapper .mejs-controls .mejs-time-rail .mejs-time-total , .audio-wrapper .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
	background: #F7F6F1;
}

.audio-wrapper .mejs-controls .mejs-time-rail .mejs-time-loaded {
	background: #E5E1D4;
}

.audio-wrapper .mejs-controls .mejs-time-rail .mejs-time-current , .audio-wrapper .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	background: #7B6B57;
}

.linkcat li a{
    color: #6A4A3C;
}

.linkcat li{
	background: #EFEDE2;
	border: 1px solid #DAD5C2; 
}

.linkcat li:hover {
	background: #F5F2E1;
	border: 1px solid #ADA484; 
}

.month.selected a,.month:hover a {   
    background: #DCD8C9;
} 

.year-toogle {   
    background: #CCC6AF;
} 

.monthall .monthed{
    border-bottom:1px dashed #CAC3AF;
}

.page-template-custom-archive .index-content>ul>li{
    border-bottom:solid 1px #C2B99A;
}

.accordion h1 {
  background-color: #ece6d9;
  color: #7F705B;
}
.accordion h1 i {
  color: #B9AD9B;
}
.accordion h1:hover {
  color: #52392E;
}
.accordion h1{
  border: 1px solid #D8D3BF;
}
.accordion p {
  background-color: #F5F2EC;
}