#layouts-box #content #main .main-inner{
    margin-top: 15px;
}

#layouts-box article{
    width: 33.33%;
    float: left;
    padding-right: 15px;
    margin-bottom: 15px;
}

#layouts-box article .post-wrap .post-inner .featured-box{
    position: static;
    width: auto;
    box-shadow:none;
    height: auto;
    padding-bottom: 0;
}

#layouts-box article .post-wrap .post-inner .featured-box .featured-image{
    margin-bottom: 0;
}

#layouts-box article .post-wrap .post-inner .post-body header{
    padding-left: 15px;
}

#layouts-box article .post-wrap .post-inner .post-body .post-content{
    padding-left: 15px;
}

#layouts-box .mate-cat , #layouts-box .meta_tabs,#posts-box .min_comments, #layouts-box .post_meta{
    display: none;
}